@import "src/styles/variable.scss";

.price {
  .track-pages {
    display: flex;
    flex-direction: row;
    min-height: 6vh;
    gap: 5px;
    align-items: center;
    p:nth-child(1) {
      font-size: 12px;
      font-weight: 350;
      color: $secondary-text-color;
    }
    p:nth-child(2) {
      font-size: 12px;
      font-weight: 450;
    }
  }
  .price-container {
    min-height: 60vh;
    height: auto;
    border-radius: 10px;
    background-color: $container_bg-color;

    .price-bitcoin {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1.5rem;
      gap: 6px;

      img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-left: 1rem;
      }
      p:nth-child(2) {
        font-size: 20px;
        font-weight: 550;
      }

      p:nth-child(3) {
        font-size: 14px;
        font-weight: 500;
        color: $secondary-text-color;
      }

      button {
        border: none;
        background-color: $price__rank-btn;
        color: $container_bg-color;
        padding: 9px 7px;
        border-radius: 6px;
        margin-left: 3%;
      }
    }
    .live-bitcoin__price {
      display: flex;
      align-items: flex-start;
      gap: 1.7rem;

      div:nth-child(1) {
        margin-left: 1rem;
        p {
          margin: 7px 0px;
        }
        p:nth-child(1) {
          font-size: 1.4rem;
          font-weight: 550;
          letter-spacing: 1px;
          margin-top: 0px;
        }
        p:nth-child(2) {
          font-size: 12.5px;
          font-weight: 490;
          gap: 3px;
          letter-spacing: 0.2px;
          display: flex;
          align-items: center;
        }
      }

      div:nth-child(2) {
        display: flex;
        gap: 8px;
        align-items: flex-start;
        button {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 5px 7px;
          border-radius: 3px;
          border: none;
          color: $green-color;
          background-color: $light-green-btn-color;
        }
        .redButton {
          color: $red-color;
          background-color: $light-red-btn-color;
        }
        span {
          font-size: 13px;
          margin-top: 4px;
          color: $lightGrey-text-color;
        }
      }
    }
    .price__chart {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      border-top: 1px solid $light-border-color;
      margin: 0.9rem 1.5rem;
      position: relative;

      span {
        position: absolute;
        top: 1.3rem;
        right: 0px;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  @media screen and (max-width: 425px) {
    .price-container {
      min-width: 90vw;
      .price__chart {
        span {
          display: none;
        }
      }
    }
  }
}
