@import "../../styles/variable.scss";

.like {
  .like-container {
    background-color: $container_bg-color;
    margin-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
  }

  @media screen and (max-width: 425px) {
    .like-container {
      width: 90vw;
      margin-top: 0px;
      margin-left: 1.1rem;
      padding-left: 1rem;
      padding-bottom: 1rem;

      p {
        font-size: 1.2rem;
        font-weight: 600;
      }
      p:nth-child(1) {
        margin-top: 0px;
      }
    }
  }
  @media screen and (max-width: 375px) {
    .like-container {
      margin-left: 1rem;
      width: 92vw;
    }
  }
}
