$background__main: #eef2f5;
$container_bg-color: #fff;
$text_black-color: #000000;
$blue_bg-color: #1f45fc;
$price__rank-btn: #738595;
$secondary-text-color: #3e5764;
$lightGrey-text-color: #738595;
$darkGrey-text-color: #3c4151;
$green-color: #0cb577;
$red-color: #e86874;
$light-green-btn-color: #eaf9f5;
$light-red-btn-color: #fdf0ee;
$light-border-color: #dde1e5;
$heading-font-size: 23.5px;
$heading-font-weight: 500;
